:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del componente a la altura de la ventana */
  }
  
  p-card {
    width: 400px; /* Ajusta el ancho de la tarjeta según prefieras */
  }
  